* {
	box-sizing: border-box;
}
body {
	background-color:lightgray;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	max-height: 100vh;
}

#arrow {
	float: right !important;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	color: lightblue;
}

@keyframes bounce {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}

@media screen and (max-width: 415px) {
	#row1 {
		margin: 0 auto;
		background-color: black;
		padding-left: 40.9vw;
		padding-right: 40.9vw;	
	}

	#arrow {
		height: 50px !important;
		width: auto;
		opacity: 100% !important;
	}

	@keyframes bounce {
		0%   { transform: translateY(0); }
		50%  { transform: translateY(-10px); }
		100% { transform: translateY(0); }
		
	}
}

#nextpage {
	background-color: transparent;
	border: 0;
}

nav li {
	list-style-type: none;
	display: inline;
}

li {
	list-style-type: none;
}

#portrait {
	width: 150px;
	margin: 0 auto;

}

#name {
	color: lightblue;
}

#intro {
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url( images/BG.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#introcontainer {
	height: 100vh;
	margin: 0 auto;

}

#introcontainer h1 {
	padding-top: 40vh;
	font-size: 3em;

}

#introcontainer p {
	font-size: 1em;
	margin: 0;
}

#introcontainer h1, #introcontainer p, #introcontainer ul{
	color: white;
	font-family: Helvetica;
	text-align: center;

}

#headsocial {
	padding: 0;
	margin: 0;
}

#headsocial li {
	display: inline;
	margin: 0 auto;
}

.social {
	width: 4em;
	height: 4em;
	padding: 10px;
}

a {
	text-decoration: none;
}

#aboutme1 {
	background-color: black;
	height: 70vh;
	margin-left: 0;
	margin-right: 0;
}

#aboutme1 h1 {
	
}

#aboutme1 h1 span {
	color: lightblue;
}
#aboutme1 p {
	font-size: .8em;
	text-align: center;
	width: 300px;
}

#aboutme1 h1, #aboutme1 p {
	color: white;
	text-align: center;
}

#curlybrace {
	height: 100px;
}

#navigation {
	width: 100px;
	text-align: center;

}
.nav-item {
	padding: 5px;
	border-bottom: 2px solid black;
	background-color: white;
}

#navigation a {
	color: black;
}

#education1 {
	background-color: black;
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
	grid-template-rows: 50fr 50fr;
	gap: 10px;
	align-items: center;
	
}

strong {
	color: lightblue;
}

#edu {

}

#edu, #brace {
	grid-row: 1/3;
	align-self: center;
}

#w3c #{
	
}

#cert {
	
}

#rutgers {
	grid-row-start: 2;
	grid-column-start: 3;

}

#degree {
	grid-row-start: 2;
	grid-column-start: 4;

}

#education1 h1, #education1 p {
	color: white;
}

#education1 p {
	font-size: .8em;
}



