* {
	box-sizing: border-box;
}
body {
	background-color:lightgray;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#arrow {
	float: right !important;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes bounce {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}

button {
	background-color: transparent;
	border: 0;
	float: right;
	margin-top: 250px;
	
}

nav li {
	list-style-type: none;
	display: inline;
}

li {
	list-style-type: none;
}

#portrait {
	width: 150px;
	margin: 0 auto;

}

h1, h2, ol {
	font-family: Helvetica;
	color: white; 
}

div span {
	color: lightblue;
}

.jumbrotron {
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url( images/BG.jpg);
	height: 100vh;
	background-size: cover;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.jumbrotron h1 {
	padding-top: 25%;


}

div p {
	color: white;
	font-family: Helvetica;
	padding: 5px;


}

#headsocial {
	padding-left: 0;
	margin-left: 0;
	margin-top: 20px;
}

#headsocial li {
	display: inline;

}

.social {
	width: 30px;
	height: 30px;
	padding: 5px;
	display: inline;
}

a {
	text-decoration: none;
}

article {
	margin-bottom: 50px;
}
.icons {
	width: 30px;
	height: 30px;
	float: left;
	padding-right: 10px;
	padding-bottom: 20px;
}

mark {
	border-radius: 5px;
	padding: 2px;

}

aside {
	float: right;
	width: 30%;
}

.skills {
	columns: 10px 2;

}